type project
owners
    pocketberserker
authors
    pocketberserker
projectUrl
    https://github.com/pocketberserker/FSharp.Object.Diff
licenseUrl
    https://github.com/pocketberserker/FSharp.Object.Diff/blob/master/LICENSE
requireLicenseAcceptance
    false
tags
    fsharp, F#, object, diff
description
    FSharp.Object.Diff is a port of java-object-diff.
files
    ../../bin/FSharp.Object.Diff.Portable7/FSharp.Object.Diff.dll ==> lib/portable-net45+netcore45+MonoAndroid1+MonoTouch1
    ../../bin/FSharp.Object.Diff.Portable7/FSharp.Object.Diff.pdb ==> lib/portable-net45+netcore45+MonoAndroid1+MonoTouch1
    ../../bin/FSharp.Object.Diff.Portable7/FSharp.Object.Diff.xml ==> lib/portable-net45+netcore45+MonoAndroid1+MonoTouch1
    ../../bin/FSharp.Object.Diff.Portable259/FSharp.Object.Diff.dll ==> lib/portable-net45+netcore45+wpa81+wp8+MonoAndroid1+MonoTouch1
    ../../bin/FSharp.Object.Diff.Portable259/FSharp.Object.Diff.pdb ==> lib/portable-net45+netcore45+wpa81+wp8+MonoAndroid1+MonoTouch1
    ../../bin/FSharp.Object.Diff.Portable259/FSharp.Object.Diff.xml ==> lib/portable-net45+netcore45+wpa81+wp8+MonoAndroid1+MonoTouch1
    ../../bin/FSharp.Object.Diff.Portable78/FSharp.Object.Diff.dll ==> lib/portable-net45+netcore45+wp8+MonoAndroid1+MonoTouch1
    ../../bin/FSharp.Object.Diff.Portable78/FSharp.Object.Diff.pdb ==> lib/portable-net45+netcore45+wp8+MonoAndroid1+MonoTouch1
    ../../bin/FSharp.Object.Diff.Portable78/FSharp.Object.Diff.xml ==> lib/portable-net45+netcore45+wp8+MonoAndroid1+MonoTouch1
