type project
owners
    pocketberserker
authors
    pocketberserker
projectUrl
    https://github.com/pocketberserker/FSharp.Object.Diff
licenseUrl
    https://github.com/pocketberserker/FSharp.Object.Diff/blob/master/LICENSE
requireLicenseAcceptance
    false
tags
    fsharp F# object diff
description

